<!DOCTYPE html>
<html>
<head>
  <title>HertzCourierTwilio</title>
  <%= stylesheet_link_tag    "hertz_courier_twilio/application", media: "all" %>
  <%= javascript_include_tag "hertz_courier_twilio/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
